<!DOCTYPE html>
<html>
<head>
    <title>Hak Akses</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container mt-5">
        <h1>Hak Akses</h1>
        <p>Ini adalah halaman untuk mengelola hak akses pengguna.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Hak Akses</th>
                    <th>Nama Modul</th>
                    <th>Nama Pengguna</th>
                </tr>
            </thead>
            <tbody>
                {% for access in accesses %}
                <tr>
                    <td>{{ access[0] }}</td>
                    <td>{{ access[1] }}</td>
                    <td>{{ access[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
