<!DOCTYPE html>
<html>
<head>
    <title>Halaman Tentang</title>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    {%include 'menu.html'%}
    <div class="container mt-5">
        <h1>Tentang Aplikasi Sistem Informasi Manajemen</h1>
        <p>
            Aplikasi Sistem Informasi Manajemen (SIM) merupakan solusi teknologi yang dikembangkan oleh Perusahaan XYM. 
            Aplikasi ini bertujuan untuk membantu instansi-instansi dan perusahaan dalam mengelola berbagai aspek manajemen. 
            Dengan aplikasi ini, instansi dapat meningkatkan efisiensi operasional, mengoptimalkan pengelolaan data, 
            dan mendapatkan informasi yang akurat untuk pengambilan keputusan yang lebih baik.
        </p>
        <p>
            Aplikasi SIM yang kami kembangkan dapat disesuaikan dengan kebutuhan berbagai jenis industri, mulai dari 
            penjualan, perbankan, sekolah, kampus, hingga instansi pemerintahan. Kami memiliki pengalaman dan keahlian dalam 
            mengembangkan aplikasi berbasis web, desktop, dan mobile (Android) yang dapat memberikan solusi efektif dan 
            efisien bagi pengguna.
        </p>
        <p>
            Kami berkomitmen untuk memberikan solusi yang handal, aman, dan mudah digunakan. Tim kami terdiri dari 
            karyawan IT yang berpengalaman dan berdedikasi tinggi dalam pengembangan aplikasi. Kami selalu mengikuti 
            perkembangan teknologi terbaru dan menerapkan praktik terbaik dalam setiap tahapan pengembangan.
        </p>
        <p>
            Semoga ini bisa melengkapi UAS semester 2 saya, terima kasih.
        </p>
    </div>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
