<!DOCTYPE html>
<html>
<head>
    <title>Data Detail Status Transaksi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Import menu.html -->
    {% include 'menu.html' %}
    <div class="container">
        <h1 class="mt-5">Data Detail Status Transaksi</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Status Transaksi</th>
                    <th>Tanggal</th>
                    <th>Status Akhir</th>
                    <th>Tanggal Update</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tampilkan data detail status transaksi dari database -->
                {% for detail_status_transaksi in data_detail_status_transaksi %}
                    <tr>
                        <td>{{ detail_status_transaksi[0] }}</td>
                        <td>{{ detail_status_transaksi[1] }}</td>
                        <td>{{ detail_status_transaksi[2] }}</td>
                        <td>{{ detail_status_transaksi[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
