<!DOCTYPE html>
<html>
<head>
    <title>Data Status Transaksi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Import menu.html -->
    {% include 'menu.html' %}
    <div class="container">
        <h1 class="mt-5">Data Status Transaksi</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Transaksi</th>
                    <th>Pembayaran</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tampilkan data status transaksi dari database -->
                {% for status_transaksi in data_status_transaksi %}
                    <tr>
                        <td>{{ status_transaksi[0] }}</td>
                        <td>{{ status_transaksi[1] }}</td>
                        <td>{{ status_transaksi[2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
