<!DOCTYPE html>
<html>
<head>
    <title>Data Transaksi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Import menu.html -->
    {% include 'menu.html' %}
    <div class="container">
        <h1 class="mt-5">Data Transaksi</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tanggal</th>
                    <th>Nomor Faktur</th>
                    <th>Konsumen</th>
                    <th>Mobil</th>
                    <th>Pegawai</th>
                    <th>Harga</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tampilkan data transaksi dari database -->
                {% for transaksi in data_transaksi %}
                    <tr>
                        <td>{{ transaksi[0] }}</td>
                        <td>{{ transaksi[1] }}</td>
                        <td>{{ transaksi[2] }}</td>
                        <td>{{ transaksi[3] }}</td>
                        <td>{{ transaksi[4] }}</td>
                        <td>{{ transaksi[5] }}</td>
                        <td>{{ transaksi[6] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
